body { 
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 24pt;
  background-color: white; 
  max-width: 800px;
  margin: auto;
}

::-moz-selection { background: yellow; }
::selection { background: yellow; }

.text {
    padding: 10px 10px 10px 10px;
    display: inline;
    color: black;
    background-color: white;
    text-align: justify;
}

.title {
    user-select: none;
}

.inverted {
    padding: 10px 10px 10px 10px;
    display: inline;
    color: white;
    background-color: black;
}

.outline {
    outline: 5px solid black;
    outline-offset: -5px;
}
